.containerUL {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left: 5vw;
  padding-right: 5vw;
  justify-items: center;
}

.card {
  height: 200px;
  width: 200px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: flex-end;
}
