.containerFormProfile {
  margin-left: 100px;
  margin-right: 100px;
  height: 100vh;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
    "n i b"
    "s m p"
    "l tags tags"
    "l . sub";
}

.name {
  grid-area: n;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mail {
  grid-area: m;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search {
  grid-area: s;
  display: flex;
  flex-direction: column;
}

.login {
  grid-area: i;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bio {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photos {
  grid-area: p;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tags {
  grid-area: tags;
  text-align: center;
}

.submit {
  grid-area: sub;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mapDiv {
  grid-area: l;
}

@media (max-width: 768px) {
  .containerFormProfile {
    display: flex;
    flex-direction: column;
  }
  .containerFormProfile > div {
    margin-top: 1vh;
  }
  /* .map > div {
    height: "-webkit-fill-available";
    position: relative;
  } */
  .mapDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "textTittle button" "map map";
  }
  .map {
    grid-area: map;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    height: -webkit-fill-available;
    position: relative;
  }
  .button {
    grid-area: button;
    justify-self: center;
    margin: 1vh;
  }
  .textTittle {
    grid-area: textTittle;
    justify-self: center;
    align-self: center;
  }
}
