.containerFormProfile {
  margin-left: 100px;
  margin-right: 100px;
  /* height: 100vh; */
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas:
    "n i b"
    "s m p"
    "l tags p"
    "l tags sub";
}

/* .box {
  color: red;
}

p {
  color: darkgrey;
} */

.name {
  grid-area: n;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mail {
  grid-area: m;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search {
  grid-area: s;
  display: flex;
  flex-direction: column;
}

.login {
  grid-area: i;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bio {
  grid-area: b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photos {
  grid-area: p;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tags {
  grid-area: tags;
  text-align: center;
  font-size: 10px;
}

.submit {
  grid-area: sub;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mapDiv {
  grid-area: l;
}

.mapDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: ". button ." "map map map";
}

.map {
  grid-area: map;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  /* height: 200px; */
  /* height: -webkit-fill-available; */
  position: relative;
}

.button {
  grid-area: button;
  justify-self: space-between;
  margin: 5%;
}

.textTittle {
  display: flex;
  grid-area: textTittle;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1470px) {
  .containerFormProfile {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  .containerFormProfile > div {
    margin-top: 1vh;
  }
  /* .map > div {
    height: "-webkit-fill-available";
    position: relative;
  } */
  .formProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    display: flex;
    grid-area: button;
    margin: 1vh;
    justify-content: space-evenly;
  }

  .map {
    grid-area: map;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    /* height: -webkit-fill-available; */
    position: relative;
  }
}
