.ChatAppContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  border-left: 1px solid #ddd;
}

ChatMenu {
  height: 100%;
  flex-grow: 1;
}

.messages {
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  /* flex-basis: auto; */
  /* flex-grow: 1; */
  /* padding: 20px 0; */
  overflow: auto;
  height: 87vh;
}

.pictureAndMessage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chat-input {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 5vh;
  padding: 4px 40px 3px;
  flex-shrink: 0;
  margin-top: 1%;
}

.chat-input input[type="text"] {
  width: 100%;
}

.message.from-me .username {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
}

.pictureAndMessage.from-me {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.pictureAndMessage.from-me .avatar {
  display: none;
}

.message.from-me .message-body {
  background-color: lightgrey;
  color: black;
}

/* .message {
  margin-bottom: 20px;
} */

.message-body {
  word-wrap: break-word;
  white-space: normal;
  /* max-width: 7%; */
  width: auto;
  max-width: 33vh;
  /* display: inline-block; */
  padding: 8px;
  background-color: #fe6b8b;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
}

.username {
  font-weight: bold;
  font-size: 0.9rem;
  color: #999;
  /* margin-bottom: 5px; */
}
/*  */

@media (max-width: 500px) {
  .message-body {
    word-wrap: break-word;
    white-space: normal;
    /* max-width: 7%; */
    width: auto;
    max-width: 33vh;
    /* display: inline-block; */
    padding: 8px;
    background-color: #fe6b8b;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
  }

  .messages {
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* flex-basis: auto; */
    /* flex-grow: 1; */
    /* padding: 20px 0; */
    overflow: auto;
    height: 83vh;
  }
  .chat-input {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 5vh;
    padding: 4px 40px 3px;
    flex-shrink: 0;
    margin-top: 5%;
  }
  .ChatAppContainer {
    display: flex;
    width: 100%;
    height: 91vh;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid #ddd;
  }
}
