.AppBar {
  background: transparent;
  box-shadow: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  margin: auto;
  color: white;
}

.backg {
  background-color: #eff0c538;
  height: 95vh;
  /* border-right: solid white 25px; */
  /* border-left: solid white 25px; */
  /* border-bottom: solid white 25px; */
}

.MuiPaper-elevation4 {
  box-shadow: none;
}

.tittleLove {
  position: absolute;
  color: white;
  font-size: 14vh;
  font-family: -webkit-pictograph;
  margin-top: 14%;
  margin-left: 19%;
  z-index: 5;
  width: auto;
}

.gifBox {
  position: absolute;
  margin-top: 13%;
  margin-left: 45%;
  z-index: 0;
  background-size: cover;
  height: 50%;
  width: 50%;
}

.tittleLove > span::before {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  bottom: 3vh;
  content: "";
  display: block;
  height: 6vh;
  left: 11vw;
  position: absolute;
  width: 74%;
  z-index: -1;
}

.tittleLove > span {
  color: black;
}

@media (max-width: 400px) {
  .gifBox {
    margin-top: 84%;
    margin-left: 14%;
    height: 37%;
    width: 80%;
  }
}
