.AppBar {
  background: transparent;
  box-shadow: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  margin: auto;
  color: white;
}

.root {
  height: -webkit-fill-available;
  overflow: auto;
  /* flex-grow: 1; */
  background-size: cover;
  background-image: url(/static/media/couple.6b901e69.jpeg);
  /* background-position: 50% 50%; */
}

.back {
  margin-top: 80px;
}
