.modalContainer {
  /* display: none; */
  /* width: 500px; */
}

.ant-modal-content {
  width: 550px;
  height: 550px;
}

.ant-modal-body {
  /* height: 600px; */
  /* width: 600px; */
}

.theCardFull {
  display: block;
  border-radius: 100px;
  width: 72vh;
  height: 39vh;
  max-height: 700px;
  max-width: 500px;
}

.theCardSmall {
  display: none;
}

.slide {
  overflow: hidden;
  display: grid;
  justify-content: center;
}

.buttonSett {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 999999;
}

.mainCard {
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.theDrawer {
  display: none;
}

.tag {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0px;
}

.backRect > div {
  font-size: 2vh;
  padding-top: 2%;
}

.tag input[type="checkbox"] {
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag label {
  padding: 0px 10px 1px 10px;
  font-family: "Futura";
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  transition: all 0.08s ease-in;
}

.inDrawer {
  width: 100px;
}

.slider {
  width: 20vw;
}

.backRect {
  position: absolute;
  width: 60vw;
  height: 70%;
  background: linear-gradient(
    124.3deg,
    rgba(254, 107, 139, 0.73) 0%,
    #ff8e53 100%
  );
  border-radius: 39px 39px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: xx-large;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  color: white;
  max-width: 420px;
  max-height: 510px;
}

.whiteRect {
  position: absolute;
  width: 400px;
  height: 310px;
  background: #ffffff;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 4%;
  border-radius: 39px 39px 0px 0px;
  max-width: 400px;
  height: 60%;
  max-height: 450px;
}

.userBio {
  overflow: auto;
  height: 83%;
}

.userName {
  opacity: 1;
  transition: opacity 500ms;
  font-size: 248%;
  right: 9px;
  position: absolute;
  z-index: 9;
  mix-blend-mode: normal;
  /* position: absolute; */
  /* top: 5%; */
  /* bottom: 0; */
  /* text-align: center; */
  background: -webkit-linear-gradient(#fe6b8b, #ff8e53);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.showHim {
  opacity: 0;
  width: inherit;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  transition: opacity 500ms;
  transition: opacity 1s;
  position: fixed;
}

.mainCard:hover .showHim {
  opacity: 1;
}

.mainCard:hover .userName {
  opacity: 0;
}

.theCardMatch {
  background: whitesmoke;
  border-radius: 3;
  width: 250px;
  height: 250px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.interButt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrows {
  z-index: 999;
  position: fixed;
  top: 50%;
  display: flex;
  width: inherit;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
}

.userPic {
  /* height: 80vh; */
  width: inherit;
  /* max-height: 700px; */
  position: absolute;
}

@media (max-width: 500px) {
  .ant-modal-content {
    width: 100%;
    height: 100%;
  }
  .mainCard {
    background-repeat: no-repeat;
    width: 101%;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  .showHim {
    opacity: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    transition: opacity 500ms;
    transition: opacity 1s;
    position: fixed;
    width: 85vw;
    height: inherit;
  }
  .backRect {
    position: absolute;
    width: 79vw;
    height: 70%;
  }
  .backRect {
    position: absolute;
    width: inherit;
    height: 70%;
  }
  .whiteRect {
    position: absolute;
    width: auto;
  }
  .arrows {
    width: auto;
    right: 10px;
    left: 10px;
  }
}
