.theCardFull {
  display: block;
  border-radius: 100px;
  width: 72vh;
  height: 80vh;
  max-height: 700px;
  max-width: 500px;
}

.theCardSmall {
  display: none;
}

.slide {
  overflow: hidden;
  display: grid;
  justify-content: center;
}

.buttonSett {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 999999;
}

.mainCard {
  background-repeat: no-repeat;
  height: 700px;
  width: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.theDrawer {
  display: none;
}

.tag {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0px;
}

.backRect > div {
  font-size: 2vh;
  padding-top: 2%;
}

.tag input[type="checkbox"] {
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag label {
  padding: 0px 10px 1px 10px;
  font-family: "Futura";
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  transition: all 0.08s ease-in;
}

.inDrawer {
  width: 100px;
}

.slider {
  width: 20vw;
}

.backRect {
  position: absolute;
  width: 60vw;
  height: 58vh;

  background: linear-gradient(
    124.3deg,
    rgba(254, 107, 139, 0.73) 0%,
    #ff8e53 100%
  );
  border-radius: 39px 39px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: xx-large;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
  color: white;
  max-width: 420px;
  max-height: 510px;
}

.whiteRect {
  position: absolute;
  width: 400px;
  height: 310px;

  background: #ffffff;
  padding-left: 3%;
  padding-right: 1%;
  padding-top: 4%;
  border-radius: 39px 39px 0px 0px;
  max-width: 400px;
  height: 50vh;
  max-height: 450px;
}

.userBio {
  overflow: auto;
  height: 83%;
}

.userName {
  font-size: 356%;
  mix-blend-mode: normal;
  position: absolute;
  top: 36%;
  background: -webkit-linear-gradient(#fe6b8b, #ff8e53);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.showHim {
  opacity: 0.2;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  /* transition: opacity 1s; */
}

.mainCard:hover .showHim {
  opacity: 1;
}

.theCardMatch {
  background: whitesmoke;
  border-radius: 3;
  width: 250px;
  height: 250px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.interButt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .formControlLarge {
  margin: 3vh;
} */

.userPic {
  height: 80vh;
  width: auto;
  max-height: 700px;
}

@media (max-width: 600px) {
  .theCardFull {
    display: none;
  }

  .theCardSmall {
    display: block;
  }

  .mainCard {
    background-repeat: no-repeat;
    height: 570px;
    width: 280px;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .userPic {
    height: 570px;
  }

  .backRect {
    display: inline;
    width: -webkit-fill-available;
    height: 400px;
    width: 70vw;
  }

  .whiteRect {
    position: fixed;
    width: 45vw;
    height: 354px;
    background: #ffffff;
    padding-left: 3%;
    padding-right: 1%;
    padding-top: 4%;
    bottom: 0%;
    /* margin-top: 40%; */
    border-radius: 39px 39px 0px 0px;
  }

  .userBio {
    margin-top: 9%;
    overflow: auto;
    height: 266px;
  }

  .carousel .slide {
    min-width: auto;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000;
  }

  .backRect > div {
    font-size: 15px;
    padding-top: 6%;
  }
  .spans {
    display: flex;
    justify-content: space-between;
  }
  .interButt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 45vw;
  }
  .userName {
    font-size: 220%;
    mix-blend-mode: normal;
    position: absolute;
    top: 21%;
    background: -webkit-linear-gradient(#fe6b8b, #ff8e53);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}
