.root {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3vh;
  margin-left: 3vh;
  margin-top: 10vh;
}

.image {
  background-image: "url(https://source.unsplash.com/random)";
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center";
}

.title {
  font-size: 3vh;
  margin-left: 8vh;
  margin-top: 8vh;
}

.blue {
  background: blue;
  display: "flex";
  flex-direction: "column";
}

.paper {
  /* margin: theme.spacing(8, 4); */
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

.avatar {
  /* margin: theme.spacing(1); */
  background: "linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)";
}

.form {
  width: "100%";
  /* marginTop: theme.spacing(1) */
}
/* 
.submit {
  /* margin: theme.spacing(3, 0, 2) 
} */

.gallery {
  width: "50%";
}
/* 
.textField {
  /* marginLeft: theme.spacing(1),
	  marginRight: theme.spacing(1) 
}*/
