.wrapperStyles {
  margin-top: 12px;
}
.actionsStyles {
  position: relative;
  display: flex;
  margin-top: -5em;
  justify-content: space-evenly;
  z-index: 90;
}
.wrapperMatch {
  display: flex;
  justify-content: center;
}

.divCardsMatch {
  /* display: none; */
  /* width: 85vw; */
}

@media (max-width: 500px) {
  .divCardsMatch {
    width: 85vw;
  }
}
