.uploadButton {
  display: none;
}

.gridPhotos {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.textWithBlurredBg {
  width: 10vh;
  height: auto;
  display: flex;
  position: relative;
  transition: 0.3s;
  margin: 4px;
  /* justify-content: center; */
  align-items: center;
}

.iconsImages {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  align-self: center;
}

.textWithBlurredBg svg {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.favPreviewImg {
  width: 100%;
  transition: 0.3s;
  border-radius: 4px;
  border: 3px solid rgb(254, 107, 139);
}

.previewImg {
  width: 100%;
  transition: 0.3s;
  border-radius: 4px;
}

.textWithBlurredBg:hover img {
  filter: blur(2px) brightness(60%);
  box-shadow: 0 0 16px #ff8e53;
}

.textWithBlurredBg :not(img) {
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.svg-inline--fa.fa-w-14 {
  width: 0.8em;
}

.textWithBlurredBg:hover :not(img) {
  opacity: 1;
}

@media (max-width: 768px) {
  /* .textWithBlurredBg h2 {
  top: 50%;
  size: 5vh;
} */
}
