.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* flex-grow: 1; */
}

.bar {
  display: flex;
  background: transparent;
  box-shadow: none;
  text-align: center;
  background-color: white;
  text-decoration: none;
  min-height: 64px;
}

.loginBut {
  margin-left: auto;
}

.MuiMenuItem-root {
  width: -webkit-fill-available;
}

.tittleBar {
  font-family: "Habibi";
  font-size: 2vh;
  text-align: center;
  color: black;
  margin-left: 10vw;
}

.link {
  text-decoration: none;
  /* opacity: 0.54; */
  color: black;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.registerBlock {
  display: flex;
  flex-direction: column;
}
