.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.duoQuadraButton {
  margin-right: 2vw;
  margin-left: 2vw;
  color: white;
}

.Oauth42 {
  color: white;
}

.bar {
  display: flex;
  box-shadow: none;
  text-align: center;
  background-color: white;
  text-decoration: none;
  min-height: 64px;
}

.menuItems {
  justify-content: space-around;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-right: 3%;
  transition: color 0.5s;
}

.link:hover {
  color: #fe6b8b;
}

.MuiMenuItem-root {
  width: -webkit-fill-available;
}

.link {
  display: flex;
  text-decoration: none;
  justify-content: center;
  color: black;
  width: 100px;
  height: 50px;
  align-items: center;
  font-family: Futura;
}

.tittleBar {
  font-family: "Habibi";
  font-size: 40px;
  text-align: center;
  color: black;
  margin-left: 10vw;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.registerBlock {
  display: flex;
  flex-direction: column;
}

.menuIcon {
  display: none;
}

.drawerButton {
  display: none;
}

@media (max-width: 1020px) {
  .drawerButton {
    display: block;
  }
  .link {
    display: none;
  }
}
